<% if @email.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @email.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @contact do |f| %>
  <div class="form-conrtrol input-lg">
  <%= f.select :category,  options_for_select([["Customer", "customer"], ["Food Cart", "foodcart"], ["Driver", "driver"], ["Undecided", "undecided"]]), :class => 'form-control input-lg' %>
  </div>
  <%= f.text_field :email, :class => "form-control input-lg",  placeholder: "Email", type: "email" %><br>
  <%= f.text_field :name, :class => "form-control input-lg",  placeholder: "Name", type: "name" %><br>
  <%= f.text_area :description, :class => "form-control input-lg",  placeholder: "Description", type: "description", :size => "10x5"  %><br>


  <%= f.submit "Submit", :class => "btn btn-success btn-lg" %><br />

<% end %>