
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

<div class="preloader"></div>

  <! -- ******************** MASTHEAD SECTION ******************** -->  
<main id="top" class="masthead" role="main">
  <div class="container">
    <div class="logo"> <a href="index.html#"><%= image_tag "logo.png" %></a>
    </div>

    <h1><strong>Revolutionalizing</strong> the way <br>
    <strong>tasty food</strong> is delivered.</h1>

    <div class="row">
      <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">
          <div class="form-group">
            <%= render "signup_form", id: "new_link", remote: true %>
             
            
          </div>
        </form>
        <span id="result" class="alertMsg"></span> </div>
      </div>

      <a href="index.html#explore" class="scrollto">
      <p>SCROLL DOWN TO EXPLORE</p>
      <p class="scrollto--arrow"><%= image_tag "scroll_down.png" %></p>
      </a>
  </div><! --/container -->
</main><! --/main -->


  <! -- ******************** FEATURES SECTION ******************** -->  
<div class="container" id="explore">

  <div class="section-title">
    <h2>Your favorite food cart delivered to your door, by freelance drivers.</h2>
    
  </div>

  <div class="section-title">
    <h2>How does it work?</h2>
  </div>
  
  <section class="row features">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> 
          <%= image_tag "rsz_2face.png" %>

        <div class="caption">
          <h3>Drivers sign up</h3>
          <p>After a quick background check, a driver is ready to start making some money.</p>
          <p>Bike, Car, Motorcycle?  While we prefer the most environmental friendly way, all delivery methods are welcomed.</p>
        </div>
      </div><! --/thumbnail -->
    </div><! --/col-sm-6-->

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> 
        <%= image_tag "map.jpg" %>
        <div class="caption">
          <h3>Drivers Log in</h3>
          <p>Once a driver is accepted to deliver, they can start working immediatly.
          </p>
          <p>This is the great part! <br>
          Cart Community lets them work any time they want in any area of the city they choose.
          </p>
          <p> After they select a delivery range, they are ready to take orders!</p>
      
        </div>
      </div><! --/thumbnail -->
    </div><! --/col-sm-6-->

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> 
        <%= image_tag "map2.jpg" %>
        <div class="caption">
          <h3>Time to order!</h3>
          <p>Find a food cart availible in your area, and go to the menu!.
          <p>
          After adding all of your items to the cart and checking out, your order has been placed.
          </p>
          <p>
            A delivery driver has been assigned and you will recieve a confirmation email within 10 minutes.
          </p>
        </div>
      </div><! --/thumbnail -->
    </div><! --/col-sm-6-->

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> 
        <%= image_tag "food2.jpg" %>
        <div class="caption">
          <h3>Time to eat!</h3>
          <p>After your prompt delivery of fresh food, make sure you tip your driver!</p>
        </div>
      </div><! --/thumbnail -->
    </div><! --/col-sm-6-->
  </section><! --/section -->
 
  </div><! --/container -->
 
      <! -- ******************** FOOTER ******************** -->    
    <main class="footercta" role="main">
      <div class="container">
        <h1>The Most Simple & <strong>Powerful Way</strong> <br>
          to <strong>launch</strong> your product</h1>
 
        <div class="row">
          <div class="col-md-12 breath text-center"> 
            <a href="index.html#top" class="btn btn-success btn-lg gototop">GET EARLY ACCESS</a> 
          </div>
        </div>
      </div><! --/container -->
    </main><! --/main -->
 
    <div class="container">
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 CartWheelsPDX.com. All Rights Reserved</p>
        </div>
      </section><! --/section -->
    </div><! --/container -->
 

 
<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
     var $anchor = $(this);
     $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
        

</script>
 

